.bgallery label {
    float:left;
    margin-top: 59px;
    margin-left: 15px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid red;
    background: rgba(255,0,0,0.7);
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bgallery {
    width: 100%;
    position: fixed;
    display: block;
    z-index: 1;
    padding: 0;
}

.bgallery label:hover {
    background: red;
}